[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
numpy = "<2.0.0"
transformers = "*"
accelerate = "*"
diffusers = "*"
safetensors = "*"
pillow = "*"
imageio = "*"
torch = "*"
torchvision = "*"
scikit-learn = "*"
bitsandbytes = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
